//Colors
$primary-color: #00bcd4;
$dark-primary-color: #0097a7;

$accent-color: #ff5722;

$light-background-color: #ffffff;

$primary-text: #212121;
$secondary-text: #757575;

$divider-color: #bdbdbd;

//Layers
$z-index-base: 1;
$z-index-modal: $z-index-base + 100;
$z-index-dropdown: $z-index-base + 10;
$z-index-overlay: $z-index-base + 50;

// Margin and padding indents
$indent-small: 8px;
$indent-medium: 16px;
$indent-large: 24px;
