@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-light';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-light-italic';
  src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}
