@import './globalStyles/normalize.css';
@import './globalStyles/fonts.css';

/*
Available fonts:
montserrat-regular
montserrat-light
montserrat-light-italic
montserrat-semibold
montserrat-bold
*/

body {
  font-family: 'montserrat-regular';
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
