@import './globalStyles/normalize.scss';
@import './globalStyles/fonts.scss';
@import './globalStyles/variables.scss';

/*
Available fonts:
montserrat-regular
montserrat-light
montserrat-light-italic
montserrat-semibold
montserrat-bold

Available colors:
$primary-color
$dark-primary-color
$accent-color
$light-background-color
$primary-text
$secondary-text
$divider-color
*/

body {
  font-family: 'montserrat-regular';
  color: $primary-text;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
